version: '3.8'
services:
  eureka-server:
    build: ./eureka-server
    ports:
      - "8761:8761"

  config-server:
    build: ./config-server
    ports:
      - "8888:8888"
    depends_on:
      - eureka-server
    environment:
      - SPRING_CLOUD_CONFIG_SERVER_NATIVE_SEARCH_LOCATIONS=classpath:/config

  api-gateway:
    build: ./api-gateway
    ports:
      - "8081:8081"
    depends_on:
      - eureka-server
      - config-server
    environment:
      - SPRING_CLOUD_CONFIG_URI=http://config-server:8888

  authentication-service:
    build: ./authentication-service
    ports:
      - "8082:8082"
    depends_on:
      - eureka-server
      - config-server
      - db
    environment:
      - SPRING_CLOUD_CONFIG_URI=http://config-server:8888

  user-finance-service:
    build: ./user-finance-service
    ports:
      - "8083:8083"
    depends_on:
      - eureka-server
      - config-server
      - db
    environment:
      - SPRING_CLOUD_CONFIG_URI=http://config-server:8888

  goal-service:
    build: ./goal-service
    ports:
      - "8084:8084"
    depends_on:
      - eureka-server
      - config-server
      - db
    environment:
      - SPRING_CLOUD_CONFIG_URI=http://config-server:8888

  insight-service:
    build: ./insight-service
    ports:
      - "8085:8085"
    depends_on:
      - eureka-server
      - config-server
      - db
    environment:
      - SPRING_CLOUD_CONFIG_URI=http://config-server:8888

  db:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: root@123
      MYSQL_DATABASE: auth_service_db
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql

volumes:
  db_data: